<div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
  <div class="bg-white shadow-md p-6 rounded-lg max-w-5xl w-full lg:w-2/3">
    <h1 class="text-4xl font-bold mb-4 text-center">プライバシーポリシー</h1>
    <div class="px-4">
      <h2 class="text-2xl font-semibold mt-8">お客様から取得する情報</h2>
      <p class="text-gray-700 mb-6 pl-4">当社は、お客様から以下の情報を取得します。</p>
      <ul class="list-disc pl-5 text-gray-700 mb-6 pl-10">
        <li>氏名（ニックネームやペンネームも含む）</li>
        <li>メールアドレス</li>
        <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
        <li>当社ウェブサイトの滞在時間、入力履歴、購買履歴等の当社ウェブサイトにおけるお客様の行動履歴</li>
      </ul>

      <h2 class="text-2xl font-semibold mt-8">お客様の情報を利用する目的</h2>
      <p class="text-gray-700 mb-6 pl-4">当社は、お客様から取得した情報を、以下の目的のために利用します。</p>
      <ul class="list-disc pl-5 text-gray-700 mb-6 pl-10">
        <li>当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
        <li>お客様の当社サービスの利用履歴を管理するため</li>
        <li>お客様からのお問い合わせに対応するため</li>
        <li>当社の規約や法令に違反する行為を防止するため</li>
        <li>当社サービスの変更、提供中止、終了、契約解除後にご連絡をするため</li>
        <li>当社規約の変更等を通知するため</li>
        <li>以上の他、当社サービスの提供、維持、保護及び改善をするため</li>
      </ul>

      <h2 class="text-2xl font-semibold mt-8">安全管理のために講じた措置</h2>
      <p class="text-gray-700 mb-6 pl-4">当社が、お客様から取得した情報に関して講じている安全管理のための措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>

      <h2 class="text-2xl font-semibold mt-8">第三者提供</h2>
      <p class="text-gray-700 mb-6 pl-4">当社は、お客様から取得する情報のうち、個人データ（個人情報保護法第１６条第３項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。
      但し、次の場合は除きます。</p>
      <ul class="list-disc pl-5 text-gray-700 mb-6 pl-10">
        <li>個人データの取扱いを外部に委託する場合</li>
        <li>当社や当社サービスが買収された場合</li>
        <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
        <li>その他、法律によって合法的に第三者提供が許されている場合</li>
      </ul>

      <h2 class="text-2xl font-semibold mt-8">プライバシーポリシーの変更</h2>
      <p class="text-gray-700 mb-6 pl-4">当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。
      </p>

      <p class="text-gray-700 mb-6 pl-4">2024年05月20日 制定</p>
    </div>
  </div>
</div>
