<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">推しTaskとは？</h1>
      <p class="mb-6 leading-relaxed">タスクを達成するたびに、推しから激励の言葉をもらえるタスク管理アプリです。</p>
      <p class="mb-6 leading-relaxed">推しと一緒にタスクをこなしていきましょう！</p>
      <div class="flex justify-center">
        <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">ログイン</button>
      </div>
    </div>
  </div>
</section>