<div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
  <div class="bg-white shadow-md p-6 rounded-lg max-w-5xl w-full lg:w-2/3">
    <h1 class="text-4xl font-bold mb-6 text-center">タスク一覧</h1>
    <div class="flex justify-end mb-6">
      <%= link_to "タスク作成", new_task_path, class: 'text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg' %>
    </div>
    <div>
      <% @tasks.each do |task| %>
        <div class="flex items-center justify-between mb-4 border-b border-gray-300 pb-2">
          <div class="text-gray-700 w-600px text-left pr-4">
            <%= task.title %>
          </div>
          <div class="flex space-x-4">
            <%= button_to "編集", edit_task_path(task), method: :get, class: 'text-indigo-500 decoration-2 underline-offset-4 transition-colors hover:underline' %>
            <%= button_to "削除", task_path(task), method: :delete, class: 'text-red-400 decoration-2 underline-offset-4 transition-colors hover:underline' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
