<div class="fixed top-28 left-1/2 transform -translate-x-1/2 flex items-center justify-center w-full px-4">
  <div class="relative bg-white p-6 rounded-lg shadow-md max-w-2xl w-full text-xl border border-black">
    <p class="text-gray-700"><%= message %></p>
    <div class="absolute top-1/2 right-0 transform translate-x-24 -translate-y-1/2">
      <%= image_tag 'idol.png', alt: '画像', class: 'w-24 h-24 rounded-full border border-black' %>
    </div>
  </div>
</div>
