<div class="mt-12 flex flex-col space-y-8 items-center justify-center">
  <div>
    <%= image_tag 'system_icons/500.png' %>
  </div>
  <h1 class="text-red-700 text-xl md:text-3xl">
    Oops! Something went wrong
  </h1>
  <p class="text-lg">
    Please be patient or try again later.
  </p>
  <%= link_to '<<< Back', root_path, class: 'text-xl text-blue-500' %>
</div>
