<div class="mt-12 flex flex-col space-y-8 items-center justify-center">
  <div>
    <%= image_tag 'system_icons/404.png' %>
  </div>
  <h1 class="text-red-700 text-xl md:text-3xl">
    Sorry! This page is not available.
  </h1>
  <%= link_to '<<< Back', root_path, class: 'text-xl text-blue-500' %>
</div>
